.list{display: none;}
hr{display: none;}
body{    font-family: Arial, Helvetica, sans-serif;}
.navigation{
    display: flex;
}
.green 
{
width: 1440px;
height: 100px;
background-color: rgba(225, 237, 230, 1);
display: flex;

}

.logo{
    margin-left: 165px;
margin-top: 33px;
margin-bottom: 32px;
}
.repro
{
    width: 130px;
    height: 23px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(44, 45, 53, 1);
    margin-left: 497px;
    margin-top: 33px;
    margin-bottom: 32px;

}

.new
{

    width: 84px;
    height: 23px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(44, 45, 53, 1);
    margin-left: 60px;
    margin-top: 33px;
    margin-bottom: 32px;


}
.abt
{
        width: 54px;
    height: 23px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(44, 45, 53, 1);
    margin-left: 60px;
    margin-top: 33px;
    margin-bottom: 32px;

}
.cart
{
        width: 24px;
    height: 24px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(44, 45, 53, 1);
    margin-left: 60px;
    margin-top: 33px;
    margin-bottom: 32px;

}
.main
{
    display: flex;
}
.golub
{
    width: 540px;
    height: 621px;
    margin-left: 165px;
}
.text
{
    width: 540px;
    height: 132px;
    font-weight: 500;
    font-size: 60px;
    margin-left: 30px;
    margin-top: 145px;

}

span
{
    font-size: 60px;
    color:rgba(89, 141, 102, 1);
}

.gray_text
{
    width: 540px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
margin: 0;
    color: rgba(134, 146, 139, 1);
justify-content: flex-end;
margin-left: 30px;
margin-top: 20px;
}

.btnbtn
{
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    width: 227px;
    height: 65px;
    margin-top: 81px;
    margin-left: 60px;
    border: solid 1px rgba(89, 141, 102, 1);
background-color: transparent;
margin-left: 30px;
}





@media (max-width: 768px) {
.green 
{
height: 100px;
background-color: rgba(225, 237, 230, 1);
display: flex;
align-items: center;
width: 768px;

   
}
.golub
{
    height: 380px;
    width: 330px;
    margin-left: 39px;
}
.text
{
    width: 330px;
    height: 80px;
    font-size: 40px;
    margin-top: 35px;
    
}
span{
    font-size: 40px;

}
.logo{
    margin-left: 39px;
}
.repro
{
    margin-left: 102px;

}
.gray_text
{
    width: 330px;
    height: 108px;
    margin-top: 20px;
}
.btnbtn{
    margin-top: 40px;
}
}











@media (max-width: 576px)  
{
.logo
{
margin-top: 16px;
    width: 143px;
    height: 35px;
    margin-bottom: 16px;
}
.green
{
 flex-direction: column;
width: 576px;
height: 123px;

}
hr
{
    margin: 0px;
    display: block;
    width: 510px;
    height: 1px;
    color: rgba(195, 209, 198, 1);
}
.repro
{
    margin-top: 17.5px;
    width: 117px;
    height: 21px;    
    font-size: 18px;
margin-left:33px;
}
.new
{
margin-top: 17.5px;
    width: 75px;
    height: 21px;
    font-size: 18px;
}
.abt
{
    margin-top: 17.5px;
    width: 49px;
    height: 21px;
    margin-right: 124px;
    font-size: 18px;
}
.cart
{
    margin-left: 0px;
    width: 24px;
    height: 24px;
    margin-top: 17.5px
;
}
.navigation
{
    width: 100%;
}

.golub
{
    width: 195px;
    height: 239px;
    margin-top: 50px;
    margin-left: 33px;
}
.text{
    width: 285px;
    height: 72px;
    font-size: 36px;
    margin-top: 50px;
}
span{
font-size: 36px;
width: 285px;
height: 72px;
}
.gray_text{
    width: 250px;
    height: 96px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.btnbtn{
    width: 178px;
    height: 50px;
    margin-top: 11px;
}


}


@media (max-width: 320px)  
{
    .logo
    {
        margin-left: 0px;
    }
.green
{
 flex-direction: column;
 width: 320px;
height: 130px;
background-color:white;

}


.repro
{
display: none;
}

.new{
display: none;
}
.abt{
display: none;
}
.golub
{display: none;
}

.list{
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 16px;
}
hr{
    display: none;
}

.navigation
{
       justify-content: space-between;
    width: 100%;
    height: 65px;
    background-color: rgba(225, 237, 230, 1);
}
.cart{
margin-right: 20px;
}



.text{
    margin-top: 60px;
    margin-bottom: 20px;
}
.gray_text{
    width: 290px;
    height: 63px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.btnbtn{
    width: 154px;
    height: 50px;
    margin-top: 40px;
}
}