



body {  

    display: flex;
flex-wrap: wrap;
}
.container {
    display: grid ;
    grid-template-columns: 350px 350px  ;
 gap: 20px;
 width: fit-content;
    margin: auto;
}
.container1  {
    display: grid ;
    grid-template-columns:350px 350px 350px  ;
 gap: 20px;
 width: fit-content;
    margin: auto;
        margin-top: 40px;

}




.card  {
    background-color: rgba(225, 237, 230, 1);
    width: 350px; ;
    height: 730px;
}
.img {
    margin-left: 20px;
    margin-top:20px ;
    width: 310px;
    height: 422px;

}
.author {
    color: rgba(134, 146, 139, 1);
    font-family:Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: regular;
    font-size: 16px;
    line-height: 100%px;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 177px;
    width: fit-content;
    height: 21px;
    letter-spacing: 0%;
}
.name {
    color: rgba(44, 45, 53, 1);
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: regular;
    font-size: 20px;
    line-height: 100%px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 70px;
    width: 200px;
    height: 28px;
    letter-spacing: 0%;
}
.made_from {
    color: rgba(44, 45, 53, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: regular;
    font-size: 16px;
    line-height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    width: 250px;
    height: 19px;
    letter-spacing: 0%;
}
.price {
    color: rgba(89, 141, 102, 1);
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: regular;
    font-size: 20px;
    line-height: 100%;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 167px;
    width: 122px;
    height: 28px;
    letter-spacing: 0%;
}
.buy {
    color: rgba(89, 141, 102, 1);
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: regular;
    font-size: 18px;
    line-height: 100%;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 167px;
    width: 310px;
    height: 65px;
    letter-spacing: 0%;
    border: 1px solid rgba(89, 141, 102, 1);
    background-color: transparent;
}

.card1  {
    background-color: rgba(225, 237, 230, 1);
    width: 350px; ;
    height: 730px;
}

.card2  {
    background-color: rgba(225, 237, 230, 1);
    width: 350px; ;
    height: 730px;
}

.card3  {
    background-color: rgba(225, 237, 230, 1);
    width: 350px; ;
    height: 730px;
}

.card4  {
    background-color: rgba(225, 237, 230, 1);
    width: 350px; ;
    height: 730px;
}

.card5  {
    background-color: rgba(225, 237, 230, 1);
    width: 350px; ;
    height: 730px;
}