.out
{
 width: 200px;
    height: 200px;
    background-color: lightcoral;
   box-shadow: 50px 40px 20px 25px rgba(0,0,0,0.75);


}

.out1
{
    margin-top: 100px;
  width: 200px;
    height: 200px;
    background-color: rgb(68, 38, 38);
   box-shadow: 20px 5px 10px 15px rgba(0,0,0,0.75);


}



.in 
{
margin-top: 50px;
    width: 150px;
    height: 150px;
    background-color: lightblue;
text-shadow: 4px 6px 11px rgba(0,0,0,0.5);

}

.in1
{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    background-color: rgb(59, 190, 190);
text-shadow: 5px 9px 2px rgba(0,0,0,0.5);

}


.grd
{
    width: 200px;
    height: 200px;
    background-color: lightgreen;

  background: linear-gradient(to bottom, rgb(255, 0, 234), yellow);

}



.rad
{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
  background: radial-gradient(ellipse at bottom, rgb(22, 31, 131), rgb(234, 174, 231), rgb(188, 239, 188));

}